@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@100;300;500;700;900&family=Crete+Round:ital@0;1&family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&family=Indie+Flower&family=Libre+Baskerville:wght@400;700&family=Pacifico&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

html body {
    /* font-family: 'Catamaran', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif; */
    font-family: 'Roboto Mono', monospace;
}