.navbar {
    display: flex;
    justify-content: space-around;
    width: 1500px;
    /* background-color: rgba(95, 36, 8, 0.801); */
    background-color: rgb(197, 162, 137);
    /* background-color: #0D6EFD; */



}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: auto;
    padding-left: 900px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(133, 90, 65);
}

.li {
    color: rgb(133, 90, 65);
}

.new {
    position: absolute;
    text-decoration: none;
    left: 200px;
    top: 25px;
    color: white;
}

.new:hover {
    color: white;
}

/* 
.navbar ul li {} */