.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    /* background-color: #0D6EFD; */



}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: auto;
    padding-left: 900px;
    margin-top: 20px;


}

.new {
    position: absolute;
    text-decoration: none;
    left: 200px;
    top: 25px;
    color: white;
}

.new:hover {
    color: white;
}

/* 
.navbar ul li {} */