* {
    margin: 0;

}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    /* background-color: #0D6EFD; */


}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: auto;
    padding-left: 900px;
    margin-top: 20px;


}

.navbar ul li {}