.container {

    margin-left: 300px;
    text-align: center;
    margin-right: 400px;

}

.photo {
    margin-top: 50px;
    width: 400px;
    height: 400px;
}

.text {
    font-size: 30px;
    margin-top: 10px;
    color: rgb(133, 90, 65);
}

.btnlink {

    border: 1px solid rgb(245, 241, 241);
    background-color: rgb(197, 162, 137);
    padding: 10px;
    margin-top: 80px;
    color: rgb(133, 90, 65);
    text-decoration: none;
    border-radius: 5px;

}

.btnlink:hover {
    background-color: rgb(209, 202, 192);
    color: rgb(133, 90, 65);
    border: 1px solid black;

}