.container {

    margin-left: 300px;
    text-align: center;
    margin-right: 400px;

}

.photo {
    margin-top: 50px;
    width: 400px;
    height: 400px;
}

.text {
    font-size: 30px;
    margin-top: 10px;
    color: black;
}

.btnlink {

    border: 1px solid rgb(245, 241, 241);

    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.btnlink:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}