@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.note {
    background-color: rgba(250, 235, 215, 0.712);
    /* background-color: wheat; */
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px black solid;

}

.text {
    color: rgb(133, 90, 65);

    text-align: center;


    font-family: 'Abel', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 15px;
}

.button {
    text-align: center;
    position: relative;
    top: 100px;
    right: -43px;
    background-color: aliceblue;
    color: rgb(133, 90, 65);
    border: 1px solid aliceblue;
    border-radius: 5px;
    font-family: 'Abel', sans-serif;
}

.card {
    background-color: rgba(197, 162, 137, 0.925);
    color: rgb(133, 90, 65);
    margin-top: 50px;
    margin-top: 0px;
}